@import '../../framework/theme/styles/theming';
@import '../../framework/theme/styles/themes';

$nb-enable-css-custom-properties: true;

$nb-themes: nb-register-theme((

  color-primary-100: #FAF7FF,
  color-primary-200: #ECE3FF,
  color-primary-300: #D5BFFF,
  color-primary-400: #B18AFF,
  color-primary-500: #A16EFF,
  color-primary-600: #7B51DB,
  color-primary-700: #5A37B8,
  color-primary-800: #3E2494,
  color-primary-900: #29157A,

  color-basic-100: white,
  color-basic-200: #eefafc,
  color-basic-300: #e8f5fa,
  color-basic-400: #d6e6f2,
  color-basic-500: #c7dbeb,
  color-basic-600: #a9c0db,
  color-basic-700: #497d8e,
  color-basic-800: #336a77,
  color-basic-900: #295c66,
  color-basic-1000: #244555,
  color-basic-1100: #121a2b,

  background-basic-color-1: color-basic-700,
  background-basic-color-2: color-basic-800,
  background-basic-color-3: color-basic-900,
  background-basic-color-4: color-basic-100,

  border-basic-color-1: color-basic-700,
  border-basic-color-2: color-basic-800,
  border-basic-color-3: color-basic-900,
  border-basic-color-4: color-basic-1000,
  border-basic-color-5: color-basic-1100,

  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),

  text-disabled-color: color-basic-600,
), aquamarine, dark);
